@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");



html, body {
  overflow-x: hidden;
  color:#030529;
  background-image: linear-gradient(to left,#a7a8aa, #cfcaca, #cfcaca, #a7a8aa);
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  
}

.navbar {
  text-transform: uppercase;
 background-color: rgba(0, 0, 0, .4)!important;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  padding: 0.8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  padding-top: 0.8rem;

}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #9df3e6;
  transform: scale(1.02);
  transition: 0.4s;
  cursor: pointer;
  -webkit-text-stroke-width: 0.5px!important;
  -webkit-text-stroke-color: #000!important;
    
}

.nav-link {
  font-size: 1.1em !important;
}
.carousel-inner img {
  width: 100%;
  height: 100vh;
}
#mainimg {
  height: 100vh;
}
.carousal-caption {
  padding-top: 32rem;
  text-transform: uppercase;
  font-weight: 900;
  width: 100%;
  right: 0;
  left: 0;
}
.carousal-caption h1 {
  font-size: 3.8rem;
  letter-spacing: 0.3rem;
  text-shadow: .1rem .1rem .3rem rgb(97, 120, 128);
  

}
.carousal-caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .4rem rgb(14, 79, 100);
  padding-bottom: .5rem;

}
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.padding {
  padding-top: 1.5em;
  padding-bottom: 1.5rem;
}
.info h2 {
  text-decoration: underline;
  text-decoration-style: solid;
}
.info .nm {
  padding-left: 2em;
}

#sec1 {
  display: inline-flexbox;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 70vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, #01060e 0%, #414c58 100%);
  overflow-x: hidden;
  overflow-y: scroll;
}

.hero {
  height: 60%;
  width: 100%;
  position: relative;
}

.hero img{
  width: 100%;
  height: 100%;
  outline-style: solid;
  outline-color: black;
  
}
.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
}
.hero .lol {
  padding-bottom: 1rem;
   color: white;
}



@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
    .myim {
      height: 460px;
      padding: 1rem 1rem 1rem 1rem;
      border-radius: 1rem;
      align-content: center;
     outline-style: dashed;
     outline-offset: -0.4rem;
     outline-color: black;
  }
  .services {
    width: 100%;

  }

}

@media (max-width: 768px) {
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .myim {
    height: 390px;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    align-content: center;
   outline-style: dashed;
   outline-color: black;
  }
  
}

@media (max-width: 576px) {
  .social a {
    font-size: 2em;
    padding: 0.7rem;
  }
    .myim {
      height: 370px;
      padding: 1rem 1rem 1rem 1rem;
      align-content: center;
  }
  .services .card {
    width: 100%;

  }
  
}
.lcolor {
  border-top: 3px solid #000000;
  width: 60%;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.lcolor2 {
  border-top: 3px solid #000000;
  width: 80%;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.lcolor3 {
  border-top: 3px solid #000000;
  width: 30%;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.lcolor4 {
  border-top: 3px solid #000000;
  width: 64%;
  margin-top: -0.4rem;
  margin-bottom: 1rem;
}
.lcolor5 {
  border-top: 3px solid #000000;
  width: 45%;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.lcolor6 {
  border-top: 3px solid #000000;
  width: 30%;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.fa-code {
  color: #ec3102;
}
.fa-bold {
  color: #350380;
}
.fa-css3 {
  color: #1c6dca;
}

.icons,
.fa-code,
.fa-bold,
.fa-css3 {
  font-size: 4em;
  margin: 1rem;
}

.offset::before {
  height: 3.6rem;
   content: "";
   margin-top: -3.6rem;
  display: block;
}
.jumbotron {
  outline-color: rgb(255, 255, 255);
  background-color: rgb(6, 0, 53);
  color: white;
  border-radius: 0;
  padding: 3rem 0 2rem;
}
h3.heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}
.heading-underline {
  width: 7rem;
  height: 0.2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;

}

.row.no-padding [class*=col-] {
  padding: 0;
}


#contact {
  background: linear-gradient(to bottom, #888,#777,#666, #555,#444);
  scroll-padding-top: 3.2rem;
}
#contact a {
  color: rgb(0, 247, 255);
}
#contact svg.svg-inline--fa {
  font-size: 1.6rem;
  text-transform: uppercase;

}

#ss {
  padding-bottom: 4.2rem;
}
.contact.row.col-12.fab:hover {
  color: #1ebba3;
}
#card1 {
  
  border-radius: 12px;
  background: linear-gradient(315deg, #b6b6b6 0%, #ffffff 74%);
  box-shadow: 6px 6px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  font-size: 1.04rem;
  text-align: center;
}
#card2 {
  
  border-radius: 12px;
  background: linear-gradient(315deg, #b6b6b6 0%, #ffffff 74%);
  box-shadow: 6px 6px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  font-size: 1.04rem;
  text-align: center;
}
#card3 {
  
  border-radius: 12px;
  background: linear-gradient(315deg, #b6b6b6 0%, #ffffff 74%);
  box-shadow: 6px 6px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  font-size: 1.04rem;
  text-align: center;
}
#card4 {
  
  border-radius: 12px;
  background: linear-gradient(315deg, #b6b6b6 0%, #ffffff 74%);
  box-shadow: 6px 6px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  font-size: 1.04rem;
  text-align: center;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 700;
}

#card1:hover {
  transform: scale(1.02);
  box-shadow: 6px 6px 15px rgba(0,0,0,0.7);
}
#card1 {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 5px;
}
#card2:hover {
  transform: scale(1.02);
  box-shadow: 6px 6px 15px rgba(0,0,0,0.7);
}
#card2 {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 5px;
}
#card3:hover {
  transform: scale(1.02);
  box-shadow: 6px 6px 15px rgba(0,0,0,0.7);
}
#card3 {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 5px;
}


 #card4:hover {
  transform: scale(1.02);
  box-shadow: 6px 6px 15px rgba(0,0,0,0.7);
}
#card4 {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 5px;
}

#mainhead1 {
  padding-left: 4rem;
}

.hero h1 {
  margin-left: 17%;
  margin-top: -3rem;
  font-size: 60px;
  transform: translate(-20%, -60%);
  color: white;
  z-index: 4;

}
#contact p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
#contact h2 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
}
#slides h1 {
  color: cyan;
  
}
#slides h3 {
  color: rgb(2, 156, 156);
}
#x img {
  align-items: center;
  align-content: center;
  padding: auto;
}

.social-menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.social-menu ul li {
  list-style: none;
  margin: 0rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr)!important;
  grid-gap: 0.2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 35%;
  background-color: white;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.7);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #d11717;
}
#facebook {
  font-size: 4.32rem;
  padding-top: 0.5rem;
  color: #3b5999;
  
}
#facebook:hover {
  color: white;
  transition: 0.5s;
  transform: translate(0,0px);
}
#twitter {
  font-size: 4.32rem;
  padding-top: 0.5rem;
  color: #55acee;
  
}
#twitter:hover {
  color: white;
  transition: 0.5s;
  transform: translate(0,0px);
}
#instagram {
  font-size: 4.32rem;
  padding-top: 0.5rem;
  color: #e4405f;
  
}
#instagram:hover {
  color: white;
  transition: 0.5s;
  transform: translate(0,0px);
}
#youtube {
  font-size: 4.32rem;
  padding-top: 0.5rem;
  color: #ce1a1a;
  
}
#youtube:hover {
  color: white;
  transition: 0.5s;
  transform: translate(0,0px);
}

#social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  overflow: hidden;
  padding: 1.2rem 51.8% 1.2rem;
  background-color: #1f1e1e;
}

#card1 {
  padding: 0.5rem;
}
#card2 {
  padding: 0.5rem;
}
#card3 {
  padding: 0.5rem;
}
#card4 {
  padding: 0.5rem;
}


.services {
  color: #ffffff;
  background: #111;
}
.services .title::before {
  background: #fff;
}
.services .title::after {
  background: #111;
}
.services .serv-content .card{
  
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 10px 40px;
  cursor: pointer;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.services {
 
  align-items: center;
  justify-content:space-between;
}

.services .serv-content .card i{
  font-size: 50px;
  color: crimson;
  transition: color 0.4s ease;
}
.services .serv-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.services .serv-content .card .box{
  transition: all 0.4s ease;
  padding-bottom: 10px;

}
.services .serv-content .card:hover .box{
  transform: scale(1.02);
}
.services .serv-content .card:hover{
  background: crimson;
}
.services .serv-content .card:hover i{
  background: white;
}
.services{
  font-family: 'poppins', sans-serif;
}
section .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translate(-50%);
}
section .title{
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-family: 'ubuntu', sans-serif;
}

section .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translate(-50%);
}
#skill {
  font-size: 40px;
  font-weight: 500;
  color: rgb(18, 16, 27);
}
.contact h2 {
  font-size: 40px;
  font-weight: 500;
}



#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  align-items: center;
	justify-content: center;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #01060e 0%, #414c58 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #727b85 0%, #b3b9be 100%);
	opacity: .05;
}
#projects .project-img img {
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
	
	#projects .project-item {
    flex-direction: row;
    
	}
	#projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
    
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
    height: 100%;
  }
  .services .serv-content .card{
    padding: 10px 400px;
  }
}
  /* End Project */
 